node_modules
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database/Logs
data/layouts/*.json
data/logs/*.log
!data/layouts/.gitkeep
!data/logs/.gitkeep
image_mapping.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Secrets
serviceAccountKey.json

# Local Assets/Backups
OLD_LOCAL_DATA/
*.bak
*.tmp

# Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?